reference_data/human/GRCh38/*.fasta
reference_data/human/GRCh38/*.fa
reference_data/human/GRCh38/*.fa.gz
reference_data/human/GRCh38/*.gtf
reference_data/human/GRCh38/*.gtf.gz
reference_data/human/GRCh38/*.vcf
reference_data/human/GRCh38/*.vcf.gz

run_*
igv

*.o
*.out
*.err
*.log

psiclass
subread-index-sam-002493-lMVlD3

4_hisat2_align.sbatch
1_parallelize_fastqc.sbatch
4_index
4_index_genome.sbatch
config.sbatch
generate_directories.sbatch
temp.sbatch
test_module_import.sbatch